<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
     <link href="/css/mod.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Rambla|Muli|Varela|Roboto|Inconsolata|Molengo' rel='stylesheet' type='text/css'>
    <style>
      body {
        padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <!-- <link href="/css/bootstrap-responsive.css" rel="stylesheet"> -->

<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>


  </head>

  <body>



<div class="container">

      <div class="page-header">
        <h1>SysCoop <small>Desarrollo, Sistemas, Tecnología.</small></h1>
      </div>


<div class="row">
  <div class="col-md-4 text-center">
	<img src="img/logocoop.png" />
  </div>
  <div class="col-md-8">
<!-- <p><strong>SysCoop</strong> se propone como un grupo de profesionales de distintas areas de la informatica, que decide trabajar de forma colaborativa para alcanzar objetivos que de manera individual seria mucho 
mas 
dificultuso.
La etica de trabajo responde directamente a nuestro propio compromiso social, por eso elegimos el Software Libre como herramienta, por que creemos en una forma mas justa y etica para generar trabajo propio y para 
terceros.</p> -->
<br />
<br />
<br />
<br />

<h1><span class="text-danger">contacto</span>[at]<span class="text-info">syscoop.com.ar</span></h1>

  </div>
</div>

<div>



          {{ content }}

</div>
</body>
</html>
